[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
yachalk = "*"
inquirer = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
pytest = "*"
black = "==21.9b0"
pre-commit = "==2.15.0"
ipo = {editable = true, path = "."}
