[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
yachalk = "*"
inquirer = "*"
black = "==21.9b0"

ipo = {editable = true, path = "."}

[dev-packages]
